.reveal p.wow {
  font-size: 2em;
}

.refresh .fa-refresh {
  position: relative;
  top: -1.35em;
  left: -2em;
  z-index: -1;
  color: gray;
}

.reveal section img.plain {
  border: none;
  background: none;
}

.appear {
  opacity: 0;
}

.appear.show {
  opacity: 1;
  transition: all 1s ease;
  transition-delay: 1s;
}

/*body {
  background-color: #008542;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4 {
  color: #FFB612;
}*/